<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="added.css">
<title>addMembers</title>
</head>
<body>
    <div class="main">
        <img class="logo" src="/Workspace/src/main/webapp/images/logo2.png"/>
        <h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"> Doc-Space </h3>
    </div>
    <img class = "img1" src="/Workspace/src/main/webapp/images/success.jpg" alt="">
<h1> Congratulations <br>
   You have been added successfully to the workspace!
</h1> <br><br>

    <h6 class = "h">
    You can save and upload 
<br>your documents in to your workspace <br>
    All of your documents can be viewed by <br> your Team members
    </h6> <br><br> <br>
    <h6 class = "h1">
        Terms & Privacy <br> <br>
        Contact us

    </h6>

</body>
</html>