*{
    margin: 25px;
    padding:0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Piazzolla', serif;
    font-size:x-large;
}
.img1{
    width:100px;
    height:100px;
}
.logo{
    height: 30px;
    width: 30px;
}

.main{
    display: flex;
    justify-content: center;
}
.extra{
    font-size: large;
}