<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="failed.css">
<title>Sign in Failed</title>
</head>
<body>
    <div class="main">
        <img class="logo" src="/Workspace/src/main/webapp/images/logo2.png"/>
        <h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Doc-Space </h3>
    </div>
    <img class = "img1" src="/Workspace/src/main/webapp/images/fail.jpg" alt="">
<h1 style="color: rgb(75, 9, 9)">Invalid Workspace name!!! <br><br> Try Again !!</h1>
<jsp:include page="/index.jsp"></jsp:include>
</body>
</html>