<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>No Work Found</title>
<link rel="stylesheet" href="failed.css">
<head>
<body>
    <div class="main">
        <img class="logo" src="/Workspace/src/main/webapp/images/logo2.png"/>
        <h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Doc-Space </h3>
    </div> <br><br><br><br>
<h1 style="color: rgb(78, 13, 13);">No Work Found In your directory <br> <br> Try Again!!</h1>

<br><br>
<br><br>
<br><br>

<h6 class = "h1">
    Terms & Privacy <br> <br>
    Contact us

</h6>
</body>
</html>