<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="signIn.css">
<title>Sign in here</title>
</head>
<body>

    <div class="main">
        <img class="logo" src="/Workspace/src/main/webapp/images/logo2.png"/>
        <h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Doc-Space </h3>
    </div>
    <br>
    <img class="logo1" src="/Workspace/src/main/webapp/images/Welcome-back.jpg"/>  <br><br>
<h2 style="color: black">Welcome ${USERNAME } to Your Workspace !!</h2>
</body>
</html>